
@{
    ViewData["Title"] = "Add Roles";
}

<h1>Add Role To User </h1>

<form asp-action="AddRoleToUser" method="post">
    <div class="form-control">
        <label>User : @ViewBag.Name</label>
        <hr />
        <label>Roles </label>
        <select name="roleName" class="form-control" asp-items="@ViewBag.Roles"></select>
    </div>
    <input type="submit" value="Add Role to User" class="btn btn-success" asp-route-userId="@ViewBag.UserId" />
</form>