@model Language

@{
    ViewData["Title"] = "Edit Language";
}

<h1>Edit Language </h1>

<h4>Language</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Register" />
            <div class="form-group">
                <br />
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <br />
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

